<section class="admin-show">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>
  <div>
    Total Number of Products: <%= @num_of_products %>
  </div>
  <div>
    Total Number of Categories: <%= @num_of_categories %>
  </div>
</section>

